<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.aceplus.dms">

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

    <permission
            android:name="com.aceplus.samparoo.permission.MAPS_RECEIVE"
            android:protectionLevel="signature" />

    <uses-permission android:name="com.aceplus.samparoo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:name=".MyApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">


        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="@string/google_map_api_key" />

        <activity
                android:name=".ui.activities.SplashActivity"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.activities.MainActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.sale.SaleCancelDetailActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.LoginActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.SyncActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.RouteActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.CustomerVisitActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.PromotionActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.VanIssueActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.ReportActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.CustomerActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.AddNewCustomerActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.CreditCollectionActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.DeliveryActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.sale.SaleCancelActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.CustomerLocationActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.sale.SaleReturnActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.AddNewCustomerLocationActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.sale.SaleActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.saleorder.SaleOrderActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.PosmActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.sale.SaleCheckoutActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.CreditCollectionCheckoutActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.PrintInvoiceActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.DeviceListActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.saleorder.SaleOrderCheckoutActivity"
                android:screenOrientation="landscape" />
        <activity
                android:name=".ui.activities.customer.sale.SaleCancelCheckoutActivity"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".ui.activities.customer.sale.SaleExchangeInfoActivity"
                android:screenOrientation="landscape"/>
    </application>

</manifest>